li {
  font-weight: 700;
  background-color: green;
}

li{
  background-color: orange;
}

/* 
cascading <<<<< specificity 
  1. id "#" specificity
  2. class "." specificity
  3. "html tags" specificity
*/

/* having higher specificity */
#html{
  background-color: red;
}

/* having specificity lower than #html */
.html{
  background-color: red;
}

/* having specificity lower than #html and .html */
.html{
  background-color: red;
}

